body {
  font-family: var(--main-font-family);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
