  <section class="about container section">
    <p class="suptitle about__suptitle">tradition and love</p>
    <h2 class="title about__title">how it’s made?</h2>

    <div class="about__wrapper">
      <div class="about__left-side">
        <img class="about__img" src="" alt="cow and milk">
      </div>

      <div class="about__right-side">
        <div class="about__wrapper-text">
          <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
          <p class="about__text about__text_color">Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            <span class="text_color">
              Aliquam erat volutpat. Aenean accumsan.
            </span>
          </p>
        </div>

        <button class="about__btn" type="button">
          Read more
          <svg class="about__icon">
            <use href=""></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
  
</body>

</html>
