<div data-about-modal class="backdrop is-hidden">
  <div class="modal-about">
    <button data-about-modal-close class="modal-about__close" type="button">
      <svg class="modal-about__icon">
        <use href="./images/icon/sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
    <h2 class="modal-about__title">Lorem ipsum dolor sit amet!</h2>
    <img class="modal-about__img" src="./images/about/ice-cream-1.jpg" alt="ice-cream" />
    <p class="modal-about__text">
      Voluptatum eveniet laboriosam quam quod architecto quibusdam praesentium nisi illo hic, ipsum
      id nulla explicabo, ab, totam aspernatur ea culpa sapiente officia. Quod, ut nostrum!
      Voluptatum eveniet laboriosam quam quod architecto quibusdam praesentium nisi illo hic, ipsum
      id nulla explicabo, ab, totam aspernatur ea culpa sapiente officia. Quod, ut nostrum! Ipsum
      ducimus aliquid animi deleniti, commodi ipsa corporis voluptatum! Quibusdam adipisci doloribus
      necessitatibus eum ad voluptas sapiente dolorum corporis ipsam. Enim totam error ad dicta,
      recusandae velit nostrum. Nostrum aliquam delectus, quisquam iusto quidem ipsam, eveniet ipsum
      dolores minus porro earum natus omnis perferendis cupiditate, molestiae nisi magnam eos vel.
      Atque natus enim aut ad.
    </p>
  </div>
</div>
