<section class="advantages">
  <h2 class="visually-hidden">advantages</h2>

  <div class="advantages-wrapper">
    <ul>
      <li class="simple-advantage">
        <p class="advantage-amount-one">721</p>
        <p class="advantage-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="simple-advantage">
        <p class="advantage-amount-two">16kg</p>
        <p class="advantage-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="simple-advantage">
        <p class="advantage-amount-three">84</p>
        <p class="advantage-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
