<section class="customer-reviews">
    <div class="container">
      <h2 class="visually-hidden">Customer reviews</h2>
      <ul class="reviews-slider list">
        <li class="reviews-slider__item">
          <img
            class="reviews-slider__img"
            src=""
            alt=""
            width="85"
            height="85"
          />
          <div class="reviews-slider__card">
            <div class="reviews-slider__text-wrapper">
              <p class="reviews-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews-slider__location">Emily, Los Angeles</p>
        </li>
        <li class="reviews-slider__item">
          <img
            class="reviews-slider__img"
            src=""
            alt=""
            width="85"
            height="85"
          />
          <div class="reviews-slider__card">
            <div class="reviews-slider__text-wrapper">
              <p class="reviews-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews-slider__location">Emily, Los Angeles</p>
        </li>
        <li class="reviews-slider__item">
          <img
            class="reviews-slider__img"
            src=""
            alt=""
            width="85"
            height="85"
          />
          <div class="reviews-slider__card">
            <div class="reviews-slider__text-wrapper">
              <p class="reviews-slider__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews-slider__location">Emily, Los Angeles</p>
        </li>
      </ul>
    </div>
  </section>
</section>
