<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <ul class="reviews-slider list">
      <li class="reviews-slider__item">
        <picture class="picture">
          <source
            srcset="
              ./images/customer-reviews/1x/customer-avatar-1.png    1x,
              ./images/customer-reviews/2x/customer-avatar-1@2x.png 2x
            "
          />

          <img
            class="reviews-slider__img"
            src="./images/customer-reviews/1x/customer-avatar-1.png"
            alt="Client's avatar"
            width="85"
            height="85"
          />
        </picture>
        <div class="reviews-slider__card">
          <div class="reviews-slider__text-wrapper">
            <p class="reviews-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="reviews-slider__location">Emily, Los Angeles</p>
      </li>
      <li class="reviews-slider__item">
        <picture class="picture">
          <source
            srcset="
              ./images/customer-reviews/1x/customer-avatar-2.png    1x,
              ./images/customer-reviews/2x/customer-avatar-2@2x.png 2x
            "
          />

          <img
            class="reviews-slider__img"
            src="./images/customer-reviews/1x/customer-avatar-2.png"
            alt="Client's avatar"
            width="85"
            height="85"
          />
        </picture>
        <div class="reviews-slider__card">
          <div class="reviews-slider__text-wrapper">
            <p class="reviews-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="reviews-slider__location">Emily, Los Angeles</p>
      </li>
      <li class="reviews-slider__item">
        <picture class="picture">
          <source
            srcset="
              ./images/customer-reviews/1x/customer-avatar-3.png    1x,
              ./images/customer-reviews/2x/customer-avatar-3@2x.png 2x
            "
          />

          <img
            class="reviews-slider__img"
            src="./images/customer-reviews/1x/customer-avatar-3.png"
            alt="Client's avatar"
            width="85"
            height="85"
          />
        </picture>
        <div class="reviews-slider__card">
          <div class="reviews-slider__text-wrapper">
            <p class="reviews-slider__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="reviews-slider__location">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
