<footer class="footer">
  <div class="container container-media">
    <div class="footer__list">
      <p class="footer__text">homemade ice cream made</p>
      <p class="footer__title">with passion</p>
    </div>
    <div class="footer__soc-contacts">
      <ul class="footer__soc-list list">
        <li class="footer__soc-links">
          <a
            href="https://github.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__icon link"
            aria-label="firm github"
          >
            <svg class="footer__soc-svg" width="20" height="20">
              <use href="./images/icon/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>

        <li class="footer__soc-links">
          <a
            href="https://web.telegram.org"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__icon link"
            aria-label="firm telegram"
          >
            <svg class="footer__soc-svg" width="20" height="20">
              <use href="./images/icon/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li class="footer__soc-links">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="footer__icon link"
            aria-label="firm twitter"
          >
            <svg class="footer__soc-svg" width="20" height="20">
              <use href="./images/icon/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="footer__wrapper">
        <b class="footer__con">Feel free to contact</b>
        <a class="footer__tel link" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
  <div class="container footer-container">
    <p class="footer__end">&copy;&nbsp;2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
