<section class="gallery">
  <div class="container">
    <ul class="gallery__list list">
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery-jpg/ice1.jpg" alt="морозиво" />
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery-jpg/ice2.jpg" alt="морозиво" />
        </div>
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery-jpg/ice3.jpg" alt="морозиво" />
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery-jpg/ice4big.jpg" alt="морозиво" />
        </div>
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery-jpg/ice5.jpg" alt="морозиво" />
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery-jpg/ice6.jpg" alt="морозиво" />
        </div>
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery-jpg/ice7.jpg" alt="морозиво" />
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery-jpg/ice8.jpg" alt="морозиво" />
        </div>
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery-jpg/ice9.jpg" alt="морозиво" />
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery-jpg/ice10.jpg" alt="морозиво" />
        </div>
      </li>
    </ul>
  </div>
</section>
