<section class="gallery">
  <div class="container">
    <ul class="gallery__list">
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery/ice.jpg" alt="морозиво" />
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery/ice.jpg" alt="морозиво" />
        </div>
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery/ice.jpg" alt="морозиво" />
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery/ice.jpg" alt="морозиво" />
        </div>
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery/ice.jpg" alt="морозиво" />
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery/ice.jpg" alt="морозиво" />
        </div>
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery/ice.jpg" alt="морозиво" />
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery/ice.jpg" alt="морозиво" />
        </div>
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery/ice.jpg" alt="морозиво" />
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <img class="gallery__img" src="./images/gallery/ice.jpg" alt="морозиво" />
        </div>
      </li>
    </ul>
  </div>
</section>
