<section class="gallery" id="gallery">
  <div class="container">
    <ul class="gallery__list list">
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <picture class="picture">
            <source
              srcset="./images/gallery-jpg/ice1.jpg 1x, ./images/gallery-jpg/ice1-2x.jpg 2x"
            />
            <img src="./images/gallery-jpg/ice1.jpg" alt="морозиво" class="gallery__img" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <picture class="picture">
            <source
              srcset="./images/gallery-jpg/ice2.jpg 1x, ./images/gallery-jpg/ice2-2x.jpg 2x"
            />
            <img src="./images/gallery-jpg/ice2.jpg" alt="морозиво" class="gallery__img" />
          </picture>
        </div>
        <div class="gallery-thumb">
          <picture class="picture">
            <source
              srcset="./images/gallery-jpg/ice3.jpg 1x, ./images/gallery-jpg/ice3-2x.jpg 2x"
            />
            <img src="./images/gallery-jpg/ice3.jpg" alt="морозиво" class="gallery__img" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <picture class="picture">
            <source
              srcset="./images/gallery-jpg/ice4big.jpg 1x, ./images/gallery-jpg/ice4big-2x.jpg 2x"
            />
            <img src="./images/gallery-jpg/ice4big.jpg" alt="морозиво" class="gallery__img" />
          </picture>
        </div>
        <div class="gallery-thumb">
          <picture class="picture">
            <source
              srcset="./images/gallery-jpg/ice5.jpg 1x, ./images/gallery-jpg/ice5-2x.jpg 2x"
            />
            <img src="./images/gallery-jpg/ice5.jpg" alt="морозиво" class="gallery__img" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <picture class="picture">
            <source
              srcset="./images/gallery-jpg/ice6.jpg 1x, ./images/gallery-jpg/ice6-2x.jpg 2x"
            />
            <img src="./images/gallery-jpg/ice6.jpg" alt="морозиво" class="gallery__img" />
          </picture>
        </div>
        <div class="gallery-thumb">
          <picture class="picture">
            <source
              srcset="./images/gallery-jpg/ice7.jpg 1x, ./images/gallery-jpg/ice7-2x.jpg 2x"
            />
            <img src="./images/gallery-jpg/ice7.jpg" alt="морозиво" class="gallery__img" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <picture class="picture">
            <source
              srcset="./images/gallery-jpg/ice8.jpg 1x, ./images/gallery-jpg/ice8-2x.jpg 2x"
            />
            <img src="./images/gallery-jpg/ice8.jpg" alt="морозиво" class="gallery__img" />
          </picture>
        </div>
        <div class="gallery-thumb">
          <picture class="picture">
            <source
              srcset="./images/gallery-jpg/ice9.jpg 1x, ./images/gallery-jpg/ice9-2x.jpg 2x"
            />
            <img src="./images/gallery-jpg/ice9.jpg" alt="морозиво" class="gallery__img" />
          </picture>
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery-thumb">
          <picture class="picture">
            <source
              srcset="./images/gallery-jpg/ice10.jpg 1x, ./images/gallery-jpg/ice10-2x.jpg 2x"
            />
            <img src="./images/gallery-jpg/ice10.jpg" alt="морозиво" class="gallery__img" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
