<header class="header">
    <div class="container container-header">
        <nav class="navigation">
            <a class="logo link" href="./index.html">
                <img class="logo__img" src="./images/header_temp/logo_1.png" alt="logo">
            </a>
            <ul class="menu list">
                <li class="menu__item">
                    <a class="menu__link link" href="./index.html">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="#">About us</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="#">How it’s made?</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="#">Our products</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="modal-btn" type="button">Buy now
            <svg width="5" height="9" class="modal-btn__icon">
                <use href="./images/header_temp/sprite.svg#icon-arrow"></use>
            </svg>
        </button>
    </div>
</header>
