<section class="hero">
  <div class="container hero__container">
    <div class="hero__left-side">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title-accented">passion</span>
      </h1>
      <ul class="button-list list">
        <li class="button-list__item">
          <a class="button-link button-link--purple link" href="#products">Products</a>
        </li>
        <li class="button-list__item">
          <a class="button-link button-link--light link" href="#about">How it’s made?</a>
        </li>
      </ul>
      <div class="hero__desc-wrapper">
        <picture class="picture">
                      <source
                        srcset="
            ./images/hero/desktop/desktop-milk.png    1x,
            ./images/hero/desktop/desktop-milk@2x.png 2x
          "
            media="(min-width: 1200px)"
                      />

                      <source
                        srcset="
                          ./images/hero/tablet/tablet-milk.png    1x,
                          ./images/hero/tablet/tablet-milk@2x.png  2x
                        "
                        media="(min-width: 768px)"
                      />

                      <img
                        class="hero__milk"
                        src="./images/hero/tablet/tablet-milk.png"
                        alt="milk"
                      />
                    </picture>
        <p class="hero__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="button-circle button-circle--small" type="button" aria-label="open modal window">
          <svg class="button-circle__icon" width="7" height="7">
            <use href="./images/icon/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="hero__ice-cream-wrapper">
      <picture class="picture">
                      <source
                        srcset="
            ./images/hero/desktop/desktop-ice-cream.png    1x,
            ./images/hero/desktop/desktop-ice-cream@2x.png 2x
          "
            media="(min-width: 1200px)"
                      />

                      <source
                        srcset="
                          ./images/hero/tablet/tablet-ice-cream.png    1x,
                          ./images/hero/tablet/tablet-ice-cream@2x.png  2x
                        "
                        media="(min-width: 768px)"
                      />

                      <source
                        srcset="
                        ./images/hero/mobile/mobile-ice-cream.png    1x,
                          ./images/hero/mobile/mobile-ice-cream@2x.png  2x
                          "
                        media="(min-width: 320px)"
                      />

                      <img
                        class="hero__ice-cream"
                        src="./images/hero/mobile/mobile-ice-cream.png"
                        alt="ice-cream"
                      />
                    </picture>
      </picture>
    </div>
    <div class="hero__right-side">
      <ul class="stats-list list">
        <li class="stats-list__item">
          <p class="stats-list__text"><span class="stats-list__number">16</span>cafes</p>
        </li>
        <li class="stats-list__item">
          <p class="stats-list__text"><span class="stats-list__number">23</span>food-trucks</p>
        </li>
      </ul>
      <picture class="picture">
                      <source
                        srcset="
            ./images/hero/desktop/desktop-girl.png    1x,
            ./images/hero/desktop/desktop-girl@2x.png 2x
          "
            media="(min-width: 1200px)"
                      />

                      <source
                        srcset="
                          ./images/hero/tablet/tablet-girl.png    1x,
                          ./images/hero/tablet/tablet-girl@2x.png  2x
                        "
                        media="(min-width: 768px)"
                      />

                      <img
                        class="hero__girl"
                        src="./images/hero/tablet/tablet-girl.png"
                        alt="girl"
                      />
                    </picture>
    </div>
  </div>
</section>
 
