<div class="backdrop is-hidden" data-modal data-modal-mob>
    <div class="modal">
        <button aria-label="close" class="modal__close-btn" type="button" data-modal-close>
            <svg class="modal-close__btn-icon">
                <use href="./images/icon/sprite.svg#icon-close-black-btn"></use>
            </svg>
        </button>
        <b class="action-desc">Leave your details and we will call back you</b>
        <form action="#" class="modal-form">
            <label class="modal-form__field">
                Name
                <span class="modal-form__input-wrapper">
                    <input type="text" name="user-name" class="modal-form__input" required minlength="2">
                    <svg width="18" height="18" class="modal-form__input-icon">
                        <use href="./images/icon/sprite.svg#icon-person-black"></use>
                    </svg>
                </span>
            </label>
            <label class="modal-form__field">
                Phone number
                <span class="modal-form__input-wrapper">
                    <input type="tel" name="user-tel" class="modal-form__input" required
                        pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="XXX-XXX-XX-XX">
                    <svg width="18" height="18" class="modal-form__input-icon">
                        <use href="./images/icon/sprite.svg#icon-phone-black"></use>
                    </svg>
                </span>
            </label>
            <label class="modal-form__field">
                Email
                <span class="modal-form__input-wrapper">
                    <input type="email" name="user-email" class="modal-form__input">
                    <svg width="18" height="18" class="modal-form__input-icon">
                        <use href="./images/icon/sprite.svg#icon-email-black"></use>
                    </svg>
                </span>
            </label>
            <label class="modal-form__field">
                Message
                <textarea name="user-message" class="modal-form__message" placeholder="Enter text"></textarea>
            </label>
            <button type="submit" class="modal-form__btn">Send message</button>
        </form>
    </div>
    </div>