<section class="products" id="products">
  <div class="container">
    <p class="products__title-label">100% natural</p>
    <h2 class="title products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item anim-items">
        <div data-card class="product product--theme-one">
          <div class="card-face product__front-side">
            <h3 class="product__name">ice cream</h3>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et.
            </p>
            <button
              aria-label="button that opens detailed information about the product"
              data-flip-back
              class="button-circle button-circle--big"
              type="button"
            >
              <svg class="button-circle__icon" width="10" height="10">
                <use href="./images/icon/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="card-face product__back-side">
            <p class="product__details">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptates ut amet
              saepe libero et fuga est nihil, nisi odit totam repellat voluptatem, in reprehenderit!
              Officiis, veritatis? Quidem, ipsa quae? Perferendis non eum quibusdam suscipit
              voluptate.
            </p>
            <button
              aria-label="button that closes detailed information about the product"
              data-flip-front
              class="button-circle button-circle--big"
              type="button"
            >
              <svg class="button-circle__icon" width="10" height="10">
                <use href="./images/icon/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="products__item products__item--delayed anim-items">
        <div data-card2 class="product product--theme-two">
          <div class="card-face product__front-side product__front-side--theme-two">
            <h3 class="product__name">ice coffee</h3>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et.
            </p>
            <button
              aria-label="button that opens detailed information about the product"
              data-flip-back2
              class="button-circle button-circle--big"
              type="button"
            >
              <svg class="button-circle__icon" width="10" height="10">
                <use href="./images/icon/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="card-face product__back-side product__back-side--theme-two">
            <p class="product__details product__details--theme-two">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptates ut amet
              saepe libero et fuga est nihil, nisi odit totam repellat voluptatem, in reprehenderit!
              Officiis, veritatis? Quidem, ipsa quae? Perferendis non eum quibusdam suscipit
              voluptate.
            </p>
            <button
              aria-label="button that closes detailed information about the product"
              data-flip-front2
              class="button-circle button-circle--big"
              type="button"
            >
              <svg class="button-circle__icon" width="10" height="10">
                <use href="./images/icon/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>

      <li class="products__item products__item--delayed-further anim-items">
        <div data-card3 class="product product--theme-three">
          <div class="card-face product__front-side product__front-side--theme-three">
            <h3 class="product__name">milkshakes</h3>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et.
            </p>
            <button
              aria-label="button that opens detailed information about the product"
              data-flip-back3
              class="button-circle button-circle--big"
              type="button"
            >
              <svg class="button-circle__icon" width="10" height="10">
                <use href="./images/icon/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="card-face product__back-side product__back-side--theme-three">
            <p class="product__details product__details--theme-three">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptates ut amet
              saepe libero et fuga est nihil, nisi odit totam repellat voluptatem, in reprehenderit!
              Officiis, veritatis? Quidem, ipsa quae? Perferendis non eum quibusdam suscipit
              voluptate.
            </p>
            <button
              aria-label="button that closes detailed information about the product"
              data-flip-front3
              class="button-circle button-circle--big"
              type="button"
            >
              <svg class="button-circle__icon" width="10" height="10">
                <use href="./images/icon/sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
