.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background-color: var(--backdrop-overlay);

  opacity: 1;
  transition: visibility 250ms var(--primary-cubic), opacity 250ms var(--primary-cubic),
    pointer-events 250ms var(--primary-cubic);
}
