.button-link {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 20px;

  font-family: (--main-font-family);
  font-size: 14px;
  line-height: 1.28;

  &--purple {
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--accent-color);

    color: var(--primary-light-color);
  }

  &--light {
    padding-left: 22px;
    padding-right: 22px;
    background-color: var(--primary-light-color);

    color: var(--accent-color);
  }
}
