.section {
  padding-top: 63px;
  padding-bottom: 20px;

  @media screen and (min-width: $tablet-media) {
    padding-top: 65px;
    padding-bottom: 33px;
  }

  @media screen and (min-width: $desktop-media) {
    padding-top: 63px;
    padding-bottom: 73px;
  }
}

.about {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: var(--bg-pink-theme);

  @media screen and (max-width: $tablet-media - 1) {
    background-image: url('../images/about/mobile/mobile-bg-about.png');
    background-repeat: no-repeat;
    background-position-y: 89%;
    background-size: contain;
  }

  @media screen and (min-width: $desktop-media) {
    background-image: url('../images/about/desktop/desktop-bg-about.png');
    background-repeat: no-repeat;
    background-position-y: 150%;
    background-size: contain;
  }
}

.about__suptitle {
  margin-bottom: 15px;
}

.about__wrapper {
  @media screen and (min-width: $tablet-media) {
    display: flex;
    justify-content: center;
  }
}

.about__left-side {
  margin-top: 26px;

  @media screen and (min-width: $tablet-media) {
    margin-right: 17px;
    margin-top: 50px;
  }

  @media screen and (min-width: $desktop-media) {
    margin-right: 74px;
    margin-top: 55px;
  }
}

.about__img {
  display: inline;
  margin-bottom: 46px;
  width: 280px;

  @media screen and (min-width: $tablet-media) {
    width: 340px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop-media) {
    width: 516px;
  }
}

.about__wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet-media) {
    margin-top: 100px;
  }

  @media screen and (min-width: $desktop-media) {
    margin-top: 106px;
  }
}

.about__text {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  max-width: 220px;

  color: var(--primary-dark-color);

  @media screen and (min-width: $tablet-media) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
    max-width: 340px;
  }

  @media screen and (min-width: $desktop-media) {
    font-size: 16px;
    letter-spacing: 0.04em;
    max-width: 463px;
  }
}

.about__text_color {
  color: var(--secondary-color);
  margin-top: 32px;

  @media screen and (min-width: $desktop-media) {
    font-size: 14px;
    line-height: 1.94;
    margin-top: 35px;
  }
}

.text_color {
  display: inline-block;
  margin-top: 10px;
}

.about__btn {
  padding-top: 11px;
  padding-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &:hover,
  &:focus {
    background-color: var(--button-hover-light);
  }

  @media screen and (max-width: 767px) {
    margin: 0 auto;
    margin-top: 17px;
  }

  @media screen and (min-width: $tablet-media) {
    font-size: 16px;
    margin-top: 62px;
    display: flex;
    justify-content: start;
  }

  @media screen and (min-width: $desktop-media) {
    margin-top: 45px;
  }
}

.about__icon {
  margin-left: 14px;
}
