.section {
  padding-top: 63px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 65px;
    padding-bottom: 33px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 63px;
    padding-bottom: 73px;
  }
}

.about {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: var(--bg-pink-theme);

  // @media screen and (max-width: 767px) {
  //   background-image: url('../img/about-bg.png');
  //   background-repeat: no-repeat;
  //   background-position-y: 89%;
  //   background-size: contain;
  // }

  // @media screen and (min-width: 1200px) {
  //   background-image: url('../img/about-bg_desctop.png');
  //   background-repeat: no-repeat;
  //   background-position-y: 130%;
  //   background-size: contain;
  // }
}

.about__suptitle {
  margin-bottom: 15px;
}

.about__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.about__left-side {
  margin-top: 26px;

  @media screen and (min-width: 768px) {
    margin-right: 17px;
    margin-top: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 74px;
    margin-top: 55px;
  }
}

.about__img {
  display: inline;
  margin-bottom: 46px;
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 340px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 516px;
  }
}

.about__wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 100px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 106px;
  }
}

.about__text {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  max-width: 220px;

  color: var(--primary-dark-color);

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
    max-width: 340px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.04em;
    max-width: 463px;
  }
}

.about__text_color {
  color: var(--secondary-color);
  margin-top: 32px;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.94;
    margin-top: 35px;
  }
}

.text_color {
  display: inline-block;
  margin-top: 10px;
}

.about__btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  min-width: 176px;
  border-radius: 22px;
  padding: 18px 37px;
  border-color: transparent;
  background-color: var(--primary-light-color);
  color: var(--accent-color);
  margin-top: 17px;

  &:hover,
  &:focus {
    background-color: var(--button-hover-light);
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-top: 62px;
    display: flex;
    justify-content: start;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 45px;
  }
}

.about__icon {
  width: 4.4px;
  height: 8px;
  margin-left: 14px;
  fill: var(--accent-color);
}
